/* THE COMMENTED OUT SECTION IS HOW TO MAKE THE ol LIST BLACK
    WHILE HAVING RED TEXT

.movies ol li{
    counter-increment: list;
    list-style-type: none;
    color: red;
    font-size: 1.25em;
    position: relative;
}

.movies ol li::before{
    color: black;
    content: counter(list) ".";
    left: -1em;
    position: absolute;
    text-align: right;
} */

.movies{
    color: red;
    /* font-size: 1.15em; */
    font-size: 1.5vw;
    width: 150%;
}

h3{
    text-align: center;
}