/* .movies ol li{
    counter-increment: list;
    list-style-type: none;
    color: red;
    font-size: 1.25em;
    position: relative;
}

.movies ol li::before{
    color: black;
    content: counter(list) ".";
    left: -1em;
    position: absolute;
    text-align: right;
} */

.movies{
    color: red;
    /* font-size: 1.15em; */
}

h3{
    text-align: center;
}

ol{
    font-size: 1.15em;
}


