/* h3{
    text-decoration: underline;
}

ul li::before{
    background-color: black;
    border-radius: 50%;
    content: "";
    display: inline-block;
    margin-right: 1em;;
    margin-bottom: .2em;
    height: .5em;
    width: .5em;
} */

.chores{
    color: plum;
    /* width: 150%; */
    font-size: 1.6vw;
}

h3{
    text-decoration: underline;
    text-align: center;
}

ul li{
    font-style: italic;
}